@media only screen {
	#modal {
		display: none;
		position: fixed;
		z-index: 30;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: transparentize(black, 0.5);
	}
	.modal-iframewrapper {
		@include centerer;
		z-index: 31;
		max-width: calc(100% - 40px);
		max-height: calc(100vh - 100px);
		margin-top: 25px;
		width: 340px;
		height: 568px;
		@include transition(width 0.4s ease, height 0.4s ease);
		&.isMobile{
			width: 340px;
			height: 568px;
		}
		&.isTablet{
			width: 768px;
			height: 1024px;
		}
		&.isDesktop{
			width: 1280px;
			height: 800px;
		}
	}
	.modal-iframewrapper-iframe {
		background-color: white;
		z-index: 100;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
	}

	// Checkbox Hack for Resizer Labels...
	#modal-iframewrapper-resizer {
		// checked is blue bg
		input[type="radio"]#mobile:checked {
			~ .modal-iframewrapper-resizer-labels label[for="mobile"] {
				background-color: $orange;
				font-weight: bold;
			}
		}
		input[type="radio"]#tablet:checked {
			~ .modal-iframewrapper-resizer-labels label[for="tablet"] {
				background-color: $orange;
				font-weight: bold;
			}
		}
		input[type="radio"]#desktop:checked {
			~ .modal-iframewrapper-resizer-labels label[for="desktop"] {
				background-color: $orange;
				font-weight: bold;
			}
		}
	}
	#modal-iframewrapper-resizer {
		position: absolute;
		z-index: 1000;
		top: 0;
		left: 50%;
		width: 100%;
		font-size: 0;
		@include transform(translate(-50%, 0%));
		max-width: 340px;
		input[type="radio"] {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	.modal-iframewrapper-resizer-labels {
		text-align: center;
		width: 100%;
		label {
			background-color: #424242;
			overflow: hidden;
			@include transition(background-color 0.4s ease);
			color: white;
			display: inline-block;
			line-height: 60px;
			font-size: 20px;
			margin: 0 auto;
			text-align: center;
			cursor: pointer;
			font-weight: 300;
			border-right: 1px solid #434343;
			text-transform: uppercase;
			width: calc(100% / 3 - 10px);
			&:hover {
				background-color: #696969;
			}
			&:last-of-type{
				border-radius: 0 0 20px 0;
			}
			&:first-of-type{
				border-radius: 0 0 0 20px;
			}
		}
	}
}