@media only screen {
	
	.categories {
		width: calc(100% - 20px);
		max-width: 480px;
	}




	// Select2 Theming:
	// custom wrapper per js options
	
	.select2-results,
	.select2containerclass{
		text-align: center !important;
		font-size: 1.2rem !important;
		line-height: 2 !important;
		height: auto !important;
	}
	.select2containerclass {
		// border: 1px solid $orange !important;
	}
	.select2-container--default {
		width: calc(100% - 40px) !important;
		max-width: 480px;
	}

	.select2-results {

	}
	.select2-results__options {

	}



	.select2-selection__placeholder {

	}

	.select2-dropdown {

	}
	.select2-search {

	}
	.select2-search--dropdown {

	}
	.select2-search__field{

	}
	.select2-results {

	}
	.select2-results__options{

	}
	.select2-results__option {

	}
	.select2-results__option--highlighted {

	}
	.select2-selection__clear {
		float: left !important;
	}
	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		background-color: $orange;
	}
	.select2-selection[role="combobox"] {
		font-size: 2rem;
		padding: 5px;
		&:focus {
			outline: 1px solid transparent;
		}
	}
}