@media only screen {
	#main {
		text-align: center;
		// min-height: calc(100vh - 250px);
		padding: 40px 0;
		
	}
	#grid-wrapper {
		position: relative;
		display: inline-block;
		max-width: 1080px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
		font-size: 0;
	}
	#grid-wrapper.itemsShown {
		margin: 40px auto;
		height: 520px;
	}
	.grid-item {
		// setup absolute layout
		position: absolute;
		vertical-align: top;
		margin: 10px auto;
		// positioning
		top: 0px;
		left: -9999px;
		// sizing
		height: 160px;
		width: calc(100% - 20px);
		max-width: 400px;
		// style:
		border: 2px solid lightgrey;
		@include transform(translate3d(0, 70px, 0));
	}
	.grid-item {
		// interaction:
		cursor: pointer;
		overflow: hidden;
		@include transition(opacity 0.3s ease);
		opacity: 0;
		// darkenOverlay
		&:after {
			z-index: 1;
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: black;
			opacity: 0;
			@include transition(opacity 0.4s ease);
		}
		&:hover {
			&:after {
				opacity: 0.5;
			}
		}
	}

	#grid-wrapper .grid-item.grid-item--toDisplay {
		position: relative;
		left: auto;
	}
	#grid-wrapper .grid-item.grid-item--fadeIn {
		opacity: 1;
		@include transform(translate3d(0,0,0));
		@include transition(transform 0.8s cubic-bezier(0, 0.195, 0, 1.465), opacity 0.5s ease-in);
	}
	img.grid-item-image {
		position: relative;
	}
	.grid-item-title {
		color: white;
		text-transform: uppercase;
		text-align: center;
		@include centerer;
		font-size: 4rem;
		z-index: 2;
		text-align: center;
		padding: 20px;
		margin: 0;
		@include transition(opacity 0.4s ease);
		width: 100%;
		opacity: 0;
	}
	.grid-item:hover .grid-item-title {
		opacity: 1;
	}

	.categories{
		display: inline-block;
		margin: 20px auto;
		width: calc(100% - 20px);
		max-width: 400px;
		position: relative;
		text-align: center;
	}
}
@media only screen and (min-width: 768px){
	#grid-wrapper.itemsShown {
		height: 220px;
	}
	.grid-item {
		max-width: calc(100% / 3 - 40px);
		height: 200px;
	}
	#grid-wrapper .grid-item.grid-item--toDisplay {
		display: inline-block !important;
		margin: 10px;
		top: 50%;
		@include transform(translate(0, -50%));
	}
}