// breakpoints

$medium: 641px;
$large: 1025px;
$xlarge: 1400px;

// fonts

$main: 'Proxima Nova', Helvetica, Verdana, sans-serif;


// colors
$offblack: #151515;
$grey: #777777;
$mediumgrey: #adadad;
$lightgrey: #ededed;
$errorred: #cb1212;
$gold: #dda700;

$orange: #ff8700;